---
- name: Docker host setup
  hosts: docker
  become: true

  tasks:
    - name: Ensure apt cache is updated (Debian/Ubuntu)
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600
      when: ansible_os_family == "Debian"
      tags: [apt]

    - name: Install Docker engine and tools (Debian/Ubuntu)
      ansible.builtin.apt:
        name:
          - docker.io
#          - docker-compose-plugin
          - python3-docker
        state: present
      when: ansible_os_family == "Debian"
      tags: [docker]

    - name: Ensure docker service is enabled and running
      ansible.builtin.service:
        name: docker
        enabled: true
        state: started
      tags: [docker]

    - name: Add users to docker group
      ansible.builtin.user:
        name: "{{ item }}"
        groups: docker
        append: true
      loop: "{{ docker_users | default([]) }}"
      when: docker_users is defined
      tags: [docker, users]

    - name: Ensure it-tools container is running
      community.docker.docker_container:
        name: it-tools
        image: ghcr.io/corentinth/it-tools:latest
        restart_policy: unless-stopped
        ports:
          - "{{ docker_it_tools_port }}:80"
      when:
        - docker_deploy_it_tools | default(false)
      tags: [containers, it_tools]
